[submodule "qemu"]
	path = qemu
	url = https://github.com/qq502233945/qemu-vhost-blk.git
	branch = IB
[submodule "spdk"]
	path = spdk
	url = https://github.com/spdk/spdk.git
[submodule "linux"]
	path = EXO-linux
	url = https://github.com/qq502233945/EXO-linux.git
